<%- include ("./partials/header") %>

<main>
  <form action = '/admin/add-product' method = 'POST'>
    <input type = 'text' placeholder = 'Product' name = 'title'/>
    <button type = 'submit'>Add Product</button>
  </form>
</main>


<%- include ("./partials/footer") %>
