<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <h1>An error has occured!</h1>
    <p>Please wait. We're working on fixing it ASAP</p>

    <%- include('../includes/end.ejs') %>